cfg_name: smad_multi_limb_autoencoder
model_name: LstmAutoencoderPk
module: smad.models.autoencoders
params:
  model:
    hidden_size: 128
    input_size: 4
    latent_dim: 64
    dropout: 0.2
    skip_connections: False
  training:
    batch_size: 32
    criterion: MSELoss
    epochs: 200
    learning_rate: 0.0001
    optimizer: Adam
    autoregressive_ft:
      epochs: 5
      learning_rate: 0.000001
