cfg_name: smad_forelimb_vp_autoencoder
model_name: LstmAutoencoderPk
module: smad.models.autoencoders
params:
  model:
    hidden_size: 8
    input_size: 2
    latent_dim: 4
    num_encoder_layers: 1
    num_decoder_layers: 1
    pooling: False
    dropout: 0.05
    skip_connections: False
  training:
    batch_size: 32
    criterion: MSELoss
    epochs: 50
    learning_rate: 0.0001
    optimizer: Adam
    autoregressive_ft:
      epochs: 0
      learning_rate: 0.00001
